<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>E-Voting</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginChoice</servlet-name>
    <servlet-class>com.bl.evoting.voterservlet.LoginChoice</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginChoice</servlet-name>
    <url-pattern>/loginchoice</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>VoterLogin</servlet-name>
    <servlet-class>com.bl.evoting.voterservlet.VoterLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VoterLogin</servlet-name>
    <url-pattern>/voterlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>VoterHomepage</servlet-name>
    <servlet-class>com.bl.evoting.voterservlet.VoterHomepage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VoterHomepage</servlet-name>
    <url-pattern>/voterhomepage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>VotesDetails</servlet-name>
    <servlet-class>com.bl.evoting.voterservlet.VotesDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VotesDetails</servlet-name>
    <url-pattern>/votesdetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>VotesDetailsForVoting</servlet-name>
    <servlet-class>com.bl.evoting.voterservlet.VotesDetailsForVoting</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VotesDetailsForVoting</servlet-name>
    <url-pattern>/votesdetailsforvoting</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>VotingSubmission</servlet-name>
    <servlet-class>com.bl.evoting.voterservlet.VotingSubmission</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VotingSubmission</servlet-name>
    <url-pattern>/votingsubmission</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>VotedReferendumsAndElections</servlet-name>
    <servlet-class>com.bl.evoting.voterservlet.VotedReferendumsAndElections</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VotedReferendumsAndElections</servlet-name>
    <url-pattern>/votedreferendumsandelections</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>com.bl.evoting.adminservlet.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/adminlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminHomepage</servlet-name>
    <servlet-class>com.bl.evoting.adminservlet.AdminHomepage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminHomepage</servlet-name>
    <url-pattern>/adminhomepage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OperationChoice</servlet-name>
    <servlet-class>com.bl.evoting.adminservlet.OperationChoice</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OperationChoice</servlet-name>
    <url-pattern>/operationchoice</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddVoter</servlet-name>
    <servlet-class>com.bl.evoting.adminservlet.AddVoter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddVoter</servlet-name>
    <url-pattern>/addvoter</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SetupElection</servlet-name>
    <servlet-class>com.bl.evoting.adminservlet.SetupElection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetupElection</servlet-name>
    <url-pattern>/setupelection</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OpenElection</servlet-name>
    <servlet-class>com.bl.evoting.adminservlet.OpenElection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OpenElection</servlet-name>
    <url-pattern>/openelection</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CloseElection</servlet-name>
    <servlet-class>com.bl.evoting.adminservlet.CloseElection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CloseElection</servlet-name>
    <url-pattern>/closeelection</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CandidateOperation</servlet-name>
    <servlet-class>com.bl.evoting.candidateservlet.CandidateOperation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CandidateOperation</servlet-name>
    <url-pattern>/candidateoperation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CandidateList</servlet-name>
    <servlet-class>com.bl.evoting.candidateservlet.CandidateList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CandidateList</servlet-name>
    <url-pattern>/candidatelist</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>VoterList</servlet-name>
    <servlet-class>com.bl.evoting.adminservlet.VoterList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VoterList</servlet-name>
    <url-pattern>/voterlist</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>VoterOperation</servlet-name>
    <servlet-class>com.bl.evoting.voterservlet.VoterOperation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VoterOperation</servlet-name>
    <url-pattern>/voteroperation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ElectionList</servlet-name>
    <servlet-class>com.bl.evoting.adminservlet.ElectionList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ElectionList</servlet-name>
    <url-pattern>/electionlist</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SelectElectionForAddVoters</servlet-name>
    <servlet-class>com.bl.evoting.adminservlet.SelectElectionForAddVoters</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectElectionForAddVoters</servlet-name>
    <url-pattern>/selectelectionforaddvoters</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>SignUp</servlet-name>
    <servlet-class>com.bl.evoting.voterservlet.SignUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUp</servlet-name>
    <url-pattern>/signup</url-pattern>
  </servlet-mapping>
</web-app>